img.custom-logo {
	max-width: 110px;
}

a {
	color: $black;

	&:visited {
		color: $dark-gray;
	}

	&:hover,
	&:focus,
	&:active {
		color: $lime;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
